[project_name]
name = "example"

[overview]
url_base = "https://example.com"
project_path = "/path/to/source_code"

[plan]
# bigger means context burst
minimal_cases = 10
forbidden_pattern = [
  "CLI based HTTP request except preparation of test"
]

[test]
  [test.meta]
  max_retry = 2
  timeout = "30 seconds"

  [test.credential]
  email = "test@example.com"
  password = "password"
